.a-container{
    margin: 150px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 7px;
}
.a-left{
    flex-basis: 40%;
    position: relative;
}
.a-left .img1{
    margin-left: -10px;
    width: 100%;
    border-radius: 20px;

}
.a-left .img1:hover{
    box-shadow:  8px 5px 6px 2px rgba(73, 200, 187,0.5)
}
.a-left .img2{
    width: 60px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.a-right{
    flex-basis: 50%;
    align-items: center;
    margin-left: 3rem;
}
.a-right h2{
    margin-left: 95px;
    color: rgb(73, 200, 187);
    font-size: 32px;
}
.a-right p{
    width: 85%;
    margin-top: -5px;
    color: black;
    /*background: aquamarine;*/
    font-size: 18px;
    line-height: 1.8rem;
    padding: 20px;
}
.a-right p:hover{
    box-shadow: 6px 8px 5px rgba(73, 200, 187);
    border-radius: 20px;
}